body{
	font-family: 'Be Vietnam', sans-serif;
	
}

h1{
	text-align: center;
	color: yellow;
}	

h2{
	text-align: center;
	color: yellow;
	font-size: 300%;
}

li{
	text-align: center;
	color: white;
}
